* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.course {
    border:1px solid;
    padding:15px;
    margin:10px;
    width:200px;
    display:inline-block;
}

.course > h3 {
    color:blue;
}

h3 + p {
    color:gray;
}

a:hover {
    color:red;
}

li:first-child {
    font-weight:bold;
}

.course:hover {
    background:#f2f2f2;
}
