body {
    background: #eaf3ff;
    font-family: Arial;
}


h1, h2, h3 {
    color: #2a5d9f;
}

.Services {
    padding: 20px;
    margin: 15px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
}

.Services p {
    color: #444;
}

.Services {
    display: flex;
    justify-content: space-around;
}

button:hover {
    background-color: #2a5d9f;
    color: white;
}

aside #contact {
    display: flex;
    justify-content: center;
}


#contact {
    background: #f2f7ff;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: red;
}